<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Chartered Accountant, CA India, professional accounting, AI in accounting, tax consulting, financial advisory, Hemanth Narra, hemanthnarra, hemanthkumarnarra, hemanthnarraX, narra.eu.org, CA blog, AI integration in CA, auditing, compliance">
	<meta name="description" content="{{subtitle}}">
	<meta property="og:url" content="https://narra.eu.org">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{title}} – Hemanth Narra's CA & AI Blog">
	<meta property="og:description" content="{{subtitle}}">
	<meta property="og:image" content="{{path}}/about.png">
	<meta name="twitter:creator" content="@hemanthnarraX">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#1a1a1a"> <!-- Bonus: Mobile browser bar color match -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/nunito.css"> 
	<link rel="stylesheet" href="/css/jetbrainsmono.css"> 
	<title>{{title}} &ndash; Chartered Accountancy & AI Insights by Hemanth Narra</title>
</head>
<body>
	<div class="grid hidden"></div>
	<header class="header">
		<h1 class="title">Hemanth Narra Writes</h1>
		<nav class="nav">
			<a href="/">Home</a>
			<a href="https://medium.com/@hemanthnarrax" target="_blank" rel="noopener noreferrer">Pieces</a>
			<a href="https://narra.eu.org/" target="_blank" rel="noopener noreferrer">Contact</a>
		</nav>
	</header>
	<main>
		{{{contents}}}
	</main>
	<footer>
		<p>Made by Hemanth Narra</p>
		<p>With Love 🤍</p>
	</footer>
</body>
</html>
