<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Narra, Hemanth, hemanthnarra, hemanthkumarnarra, hemanthnarraX, hemanthnarra.in, blog, Hemanth's Blog">
	<meta name="description" content="{{subtitle}}">
	<meta property="og:url" content="https://hemanthnarra.in">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{title}} – Hemanth's Blog">
	<meta property="og:description" content="{{subtitle}}">
	<meta property="og:image" content="{{path}}/about.png">
	<meta name="twitter:creator" content="@hemanthnarraX">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="color-scheme" content="dark light">
	<meta name="viewport" content="width=device-width">
	<link rel="alternate" type="application/rss+xml" href="https://hemanthnarra.in/rss.xml">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/nunito.css"> 
	<link rel="stylesheet" href="/css/jetbrainsmono.css"> 
	<title>{{title}} &ndash; Notes by Hemanth</title>
</head>
<body>
	<div class="grid hidden"></div>
	<header>
		<h1 class="title">Hemanth Narra Writes</h1>
		<nav>
			<a href="/">Home</a>
			<a href="https://medium.com/@hemanthnarrax" target="_blank" rel="noopener noreferrer">Poems</a>
			<a href="https://narra.eu.org/" target="_blank" rel="noopener noreferrer">Contact</a>
		</nav>
	</header>
	<main>
		{{{contents}}}
	</main>
	<footer>
		<p>Made by Hemanth Narra</p>
		<p>With Love 🤍</p>
	</footer>
</body>
</html>
